.sf-author-bio {
    background-color: #fff;
    margin-bottom: 24px;
    padding: 24px;

    @include mobile {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    @include tablet {
        width: 87%;
        padding-top: 36px;
        padding-left: 100 / 850 * 100%;
        padding-bottom: 36px;
        padding-right: 60 / 850 * 100%;
    }

    &__heading {
        flex: 100%;
        margin-bottom: 6px;

        @include desktop {
            line-height: 1;
            margin-bottom: 12px;

            @include fsz(24px);
        }
    }

    &__avatar {
        @include mobile {
            width: 30%;
        }

        @include desktop {
            width: 190 / 690 * 100%;
        }

        img {
            margin-bottom: 9px;
            max-width: none;
            width: 100%;

            @include desktop {
                margin-bottom: 3px;
            }
        }
    }

    &__name {
        margin-bottom: 6px;

        @include fsz(18px);
        @include lh(21px);

        @include desktop {
            margin-bottom: 0;

            @include fsz(16px);
            @include lh(18px);
        }
    }

    &__content {
        @include mobile {
            width: 65%;
        }

        @include desktop {
            width: 440 / 690 * 100%;
        }
    }

    &__text {
        margin-bottom: 21px;

        @include fsz(16px);
        @include lh(21px);
    }

    &__link {
        margin-bottom: 0;
    }
}
