// Root fonts
$root-font-size: 16px !default;

// Base fonts
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$base-font-bold: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$base-font-italic: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$base-font-bolditalic: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$base-font-size: 1rem !default;
$base-line-height: 1 !default;

// Headings fonts
$headings-font-family: inherit !default;
$headings-font-weight: 700 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

$h1-font-size: 2.25rem !default;
$h2-font-size: 2rem !default;
$h3-font-size: 1.75rem !default;
$h4-font-size: 1.5rem !default;
$h5-font-size: 1.25rem !default;
$h6-font-size: 1rem !default;

// Colors
$primary-color: #ec6d02 !default;
$background-color: mix($primary-color, #eee, 3%);
// Greys - adds a bit of depth from primary color
$light-grey: mix($primary-color, #eee, 3%);
$grey: mix($primary-color, #ccc, 3%);
$dark-grey: mix($primary-color, #999, 3%);
$black: mix($primary-color, #222, 3%);

$cta-color: #688e26;

// Links
$link-color: $primary-color !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none !default;

// Breakpoints
$mobile: 550px !default;
$tablet: 760px !default;
$desktop: 1000px !default;
$widescreen: 1290px !default;

// Container
$container-mobile-width: 576px !default;
$container-tablet-width: 720px !default;
$container-desktop-width: 940px !default;
$container-widescreen-width: 1290px !default;

//Carousel Bits
$arrow-size: 50px;

//Gap between cards
$card-gap: 30px;
$card-background-color: #fff !default;
