// Reset the box sizing
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

// Reset the body
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $base-text-color;
    background-color: $base-background-color;
}

// Reset fonts for relevant elements
input,
select,
textarea,
button {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

// Reset tables
table {
    border-spacing: 0;
    border-collapse: collapse;
}

td,
th {
    padding: 0;
}
