// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $heading-font-family;
    font-weight: $heading-font-weight;
    line-height: $heading-line-height;
    color: $heading-color;
    margin-top: 0;
    margin-bottom: $heading-margin-bottom;
}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

h6 {
    font-size: $h6-font-size;
}

// Paragraphs
p {
    margin-top: 0;
    margin-bottom: $paragraph-margin-bottom;
}

// Links
a {
    color: $link-color;
    text-decoration: $link-decoration;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
    }
}

// Lists
ul,
ol {
    margin-top: 0;
    margin-bottom: $list-margin-bottom;

    ul,
    ol {
        margin-bottom: 0;
    }
}
