.sf-cta {
    &__button {
        @include btn;

        background-color: $cta-color;
        border-color: $cta-color;
        border-radius: 17px;
        display: block;
        line-height: 1;
        margin: 18px auto;
        padding: 12px 12px 24px 12px;
        text-align: center;
        text-transform: none;
        width: 100%;

        &:link,
        &:visited {
            color: $white;
        }

        &:hover,
        &:focus,
        &:active {
            background-color: $cimmyt-grey;

            .sf-cta__title,
            .sf-cta__text {
                color: $cta-color;
            }
        }

        &--title,
        &--text {
            margin: 0;
        }

        &--title {
            color: $cimmyt-yellow;
            font-weight: 700;

            @include fsz(26px);
            @include lh(54px);
        }

        &--text {
            color: $white;
            font-weight: 500;

            @include fsz(21px);
            @include lh(24px);
        }

        @include mobile {
            width: 75%;
        }

        @include tablet {
            margin-bottom: 21px;
            margin-top: 21px;
            padding: 12px 24px 24px;

            @include fsz(21px);
        }

        @include desktop {
            display: inline-block;
            width: 100%;
        }
    }
}
