.sf-search-header {
    &__title {
        margin-bottom: 18px;

        @include fsz(24px);

        @include tablet {
            line-height: 1;
            margin-bottom: 24px;

            @include fsz(36px);
        }
    }
}
